# MAIN PROJECT
/web/.htaccess
/staging

# OTHER PROJECTS

# OSX NOISE
.DS_Store
profile
.gitconfig

# CRAFT APPLICATION FILES
!dbs/*.sql
/.env
/scripts/.env.sh
/vendor
/backups

#IDE NOISE
/.idea
/.vscode

# OTHER VCS
.svn
CVS

# BUILD SYSTEM
/node_modules
/config/build/local-config.json
*.map
*.js.map
.sass-cache
/.composer
/yarn-error.log
/temp
/public_html/site-assets
